body {
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background: linear-gradient(steelblue, white);
  height: 150px;
}

main {
  margin: 15px;
}

#first-name {
  font-size: 3em;
  padding: 10px 0px 10px 50px;
  color: azure;
  letter-spacing: 3px;
}

#last-name {
  font-size: 3em;
  padding-left: 135px;
  color: azure;
  letter-spacing: 3px;
}

p,
.list {
  margin: 35px 20px;
  width: 40%;
  height: fit-content;
  background-color: azure;
  border: 3px solid whitesmoke;
  padding: 20px;
  letter-spacing: .75px;
  line-height: 18.5px;
  margin: 40px auto;
}

span,
.list h2 {
  font-size: 1.5em;
  display: block;
  padding-bottom: 5px;
}

#usaf,
#tech {
  display: inline-block;
  margin: 20px;
  width: 40%;
}

#education ul {
  margin: 20px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  text-align: center;
  padding-left: 10px;
}

#top-ten h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.2em;
}

#top-ten {
  margin: 35px auto;
  width: fit-content;
  background-color: azure;
  border: 3px solid whitesmoke;
  padding: 20px;
  letter-spacing: .75px;
  line-height: 18.5px;
}